<?php echo $this->showErrors($this->errors); ?>
<h2>記事一覧</h2>

<h3>再検索エリア</h3>
<form name="search-form" method="get" action="">
    <table width="1000px">
        <tr>
            <th>カテゴリ</th>
            <td><?=$this->formSelect('category', $this->category, ['id' => 'category'], $this->categories)?></td>
        </tr>
        <tr>
            <th>件数</th>
            <td><?=$this->formSelect('per_page', $this->perPage, ['id' => 'per-page'], $this->perPages)?></td>
        </tr>
    </table>
    <button type="submit" name="search" value="search">再検索</button>
</form>

<h3 style="padding-top:20px;">検索結果(<?=$this->escape($this->count)?>件)：<?=$this->escape($this->page)?>ページ目</h3>
<table width="1000px">
    <tr>
        <th>最終更新日時</th>
        <th>投稿者</th>
        <th>カテゴリ</th>
        <th>タイトル</th>
        <th>画像1</th>
    </tr>
    <?php foreach ($this->articles as $article) : ?>
        <tr>
            <td><?=$this->escape(date('Y.m.d H:i', strtotime($article['changed'])))?></td>
            <td><?=$this->escape($article['user_name'])?></td>
            <td><?=$this->escape($this->categories[$article['category']])?></td>
            <td>
                <a href="/article/detail?id=<?=$this->escape($article['id'])?>">
                    <?=$this->escape($article['title'])?>
                </a>
            </td>
            <?php if ($article['photo1']) : ?>
                <td><img src="/image/show?article=<?=$this->escape($article['id'])?>&num=1" class="article-image-s"></td>
            <?php else : ?>
                <td></td>
            <?php endif;?>
        </tr>
    <?php endforeach;?>
</table>


<div style="padding:6px 0 15px 0">
    <?php for ($page = $this->pager->startPage; $page <= $this->pager->endPage; $page++) : ?>
        <a href="<?=$this->addUrlParam(['page' => $page], $_SERVER['REQUEST_URI'])?>"><?=$this->escape($page)?></a>
    <?php endfor;?>
</div>