<h2>ユーザTOPページ</h2>
<form name="send-form" action="?param1=value1&param2=value2" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <th>氏名</th>
            <td><input type="text" name="simei"></td>
        </tr>
        <tr>
            <th>住所</th>
            <td><input type="text" name="address"></td>
        </tr>
        <tr>
            <th>画像</th>
            <td><input type="file" name="photo"></td>
        </tr>
        <tr>
            <th>PDF</th>
            <td><input type="file" name="pdf"></td>
        </tr>
    </table>
    <button type="submit" name="send" value="send">送信する</button>
</form>